@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  header, footer, button, .print\:hidden {
    display: none !important;
  }
  main {
    display: none !important;
  }
}
